<agm-map #gm [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false" [scaleControl]="true" (triggerResize)="true" (zoomChange)="zoomChange($event)" [usePanning]="true">
  <agm-marker [latitude]="lat" [longitude]="lng" [zIndex]="10" [iconUrl]="locationMarkerIcon"></agm-marker>
  <agm-marker-cluster imagePath="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m">
    <ng-container *ngFor="let m of markers">
      <agm-marker *ngIf="m.visible" [zIndex]="8" [iconUrl]="markerIcon" (markerClick)="markerClicked(m);"
        [latitude]="m.lat" [longitude]="m.long">
      </agm-marker>
    </ng-container>
  </agm-marker-cluster>
</agm-map>
