<agm-map #gm [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false" [scaleControl]="true" (triggerResize)="true" (zoomChange)="zoomChange($event)" [usePanning]="true">
  <!-- (mapClick)="mapClicked($event)" -->
  <agm-marker *ngFor="let m of markers; let i = index" [iconUrl]="'/assets/images/poo.png'" (markerClick)="gm.lastOpen?.close(); gm.lastOpen = infoWindow; markerClicked(m);"
    [latitude]="m.lat" [longitude]="m.lng">
    <agm-info-window #infoWindow>
      <p>
        <strong>Turd with id: {{activeTurd.id}}</strong>
        <br /> created on: {{activeTurd.timestamp}}
      </p>
      <div class="turd-image-wrapper">
        <img class="turd-image" src="{{activeTurd.imagePath}}" />
      </div>
    </agm-info-window>
  </agm-marker>
  <agm-circle [latitude]="lat" [longitude]="lng" [radius]="(625 / (zoom * 10)) * 200" [fillColor]="'blue'" [circleDraggable]="false" [editable]="false">
  </agm-circle>
</agm-map>