.position-button {
  bottom: 15px;
  position: absolute;
  right: 2px;
  z-index: 99;
}

.add-button {
  bottom: 135px;
  position: absolute;
  right: 2px;
  z-index: 99;
}

.info-button {
  bottom: 75px;
  position: absolute;
  right: 2px;
  z-index: 99;
}

.back-button {
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 99;
}

.no-margin-left {
  margin-left: -12px !important;
}

.modal {
  bottom: 0;
  display: inline;
  z-index: 2;
}

.modal-header {
  margin-bottom: 15px;
}

.camera {
  bottom: 0;
  max-height: 100vh;
  margin: 0;
  top: 0;
  width: 100%;
}

.webcam ::ng-deep .webcam-wrapper>video {
  max-width: 100%;
  height: auto;
  width: 100%;
}

.webcam ::ng-deep .webcam-wrapper>canvas {
  max-width: 100%;
  height: auto;
  width: 100%;
}

.snapshot>img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.modal-backgroud {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.cam-modal {
  padding: 0;
  max-width: 400px;
  margin: 0 auto;
}

.heading {
  position: absolute;
  background: beige;
  opacity: 0.7;
  padding-top: 8px;
}

.action-buttons {
  position: relative;
  top: -50px;
  display: flex;
}

.action-button-left {
  flex: 0 0 50%;
}

.action-button-right {
  margin-left: auto;
}