<div class="menu-buttons" *ngIf="!visible">
  <div class="position-button">
    <a (click)="centerPosition()" class="btn-floating btn-large waves-effect waves-light red">
      <i class="material-icons">gps_fixed</i>
    </a>
  </div>
  <div class="add-button">
    <a (click)="toggleTurdModal()" class="btn-floating btn-large waves-effect waves-light red">
      <i class="material-icons">add</i>
    </a>
  </div>
  <div class="info-button">
    <a (click)="toggleInfo()" class="btn-floating btn-large waves-effect waves-light red">
      <i class="material-icons">info</i>
    </a>
  </div>
</div>

<div class="modal-backgroud" *ngIf="visible" [@opacityFade]></div>
<div id="infoModal" class="modal" *ngIf="visible && infoModal" [@slideInOut]>
  <div class="back-button">
    <a (click)="toggleInfo()" class="btn-floating waves-effect waves-light red">
      <i class="material-icons">close</i>
    </a>
  </div>
  <div class="modal-content">
    <h4>Turds.dog - A Threethink arts project</h4>
    <p>We live in Stuttgart where it's very common that dog owners don't care about their dog doing its business on the pavement. Because of that we started turds.dog - the first app that helps you detect dog turds on your daily walks.</p>
    <p>
    Download our app now to help and get helped avoid stepping into dog turds.
    </p>
  </div>
  <div class="modal-footer">
    <a href="#" class="modal-action modal-close waves-effect waves-green btn">Android</a>
    <a href="#" class="modal-action modal-close waves-effect waves-green btn">iOS</a>
    <a href="#" class="modal-action modal-close waves-effect waves-green btn">Windows Phone</a>
  </div>
</div>

<div id="addTurdModal" class="modal camera" *ngIf="visible && turdModal" [@slideInOut]>
  <div class="modal-content cam-modal" *ngIf="webcamState">
    <webcam class="webcam" [trigger]="triggerObservable" (imageCapture)="handleImage($event)"></webcam>
    <div class="action-buttons">
      <div class="action-button-left">
        <button class="modal-action modal-close waves-effect waves-green btn" (click)="toggleTurdModal();">Back to map</button>
      </div>
      <div class="action-button-right">
        <button class="modal-action modal-close waves-effect waves-green btn" (click)="triggerSnapshot();">Take Pic</button>
      </div>
    </div>
  </div>
  <div class="modal-content cam-modal">
    <div *ngIf="response">
      <div *ngIf="response.error">
        Oh no, an error occured:
         {{response.result}}
        <br>
      </div>
      <div *ngIf="!response.error">
        Yeah, your turd has been uploaded!
        <br>
      </div>
      <button class="modal-action modal-close waves-effect waves-green btn" (click)="returnToMap();">Return to Map</button>
    </div>
    <div class="snapshot" *ngIf="webcamImage">
      <div class="heading">
        <h4>Nice one!</h4>
      </div>
      <img [src]="webcamImage.imageAsDataUrl" />
      <div class="action-buttons" *ngIf="!response">
        <div class="action-button-left">
          <button class="modal-action modal-close waves-effect waves-green btn" (click)="restartCapture();">Take new Pic</button>
        </div>
        <div class="action-button-right">
          <button class="modal-action modal-close waves-effect waves-green btn" (click)="uploadTurd();">Upload Turd!</button>
        </div>
      </div>
    </div>
  </div>
</div>